* {
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  font: 11pt sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

article .content {
  font: 12pt serif;
}

p {
  margin: 0 0 0.5em;
}

/* responsive layouts */

@media (min-width: 768px) {
  body {
    max-width: 1024px;
    margin: auto;
  }

  body > footer.box {
    margin: 1em 15%;
  }

  .admin.box {
    margin: 0 15%;
  }

  body > footer .content {
    display: flex;
    flex-direction: row;
  }

  .foot-copyright {
    order: 2;
    flex: 1;
  }
  .foot-privacy {
    order: 1;
  }
  .foot-admin {
    order: 3;
  }

  body > .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  body > .content nav {
    flex: 1;
    order: 1;
    margin-right: 2em;
  }

  body > .content article {
    flex: 4;
    order: 2;
  }
}

/* utility */
.monospace {
  font-family: monospace;
  font-size: 90%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.error {
  color: #990000;
}

.success {
  color: #009900;
}

img.fit {
  max-width: 100%;
  height: auto;
}

.pull-right {
  float: right;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

/* bootstrap-inspired box */
.box {
  background: white;
  margin: 0.5em;
  border: 2px solid #666666;
  border-radius: 5px 20px;
}

.box header {
  background: #EEEEEE;
  border-bottom: 1px solid black;
  padding: 0.5em;
  border-radius: 5px 20px 0 0;
}

.box .content {
  padding: 1em;
}

.box footer {
  background: #EEEEEE;
  border-top: 1px solid black;
  padding: 0.5em 1em;
  border-radius: 0 0 5px 20px;
}

/* nav */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul ul {
  margin-left: 8px;
}

nav ul a {
  text-decoration: none;
  display: block;
  padding: 4px 4px;
}

nav ul a:hover {
  background: #999999;
}

nav ul a:link, nav a:visited, nav a:hover, nav a:active {
  color: black;
}

nav span {
  cursor: pointer;
}

nav .current > a {
  background: #666666;
}

.current>a:link, .current>a:visited, .current>a:hover, .current>a:active {
  color: white;
}

/* form */
input:not([type]), input[type="text"], input[type="number"], input[type="password"], select {
  width: 100%;
}

textarea {
  width: 100%;
}
