{% extends "base.html" %}
{% block title %}Server Error{% endblock title %}

{% block content %}
<div class="box">
    <header><h2>Server Error</h2></header>
    <div class="content">
        <pre>{{detail}}</pre>
        <a href="/">Return to Home</a>
    </div>
</div>
{% endblock content %}
