{% extends "base.html" %}

{% block title %}Admin{% endblock title %}

{% block head %}
<meta name="robots" content="noindex, nofollow">
{% endblock head %}

{% block content %}
<div class="admin box">
    <header><h2>Site Admin</h2></header>
    <div class="content">
        {% match msg %}
        {% when Some with (m) %}
            <div><p class="text-center {{m.0}}">{{m.1}}</p></div>
        {% else %}
        {% endmatch %}
        <div>
            <span>Logged in as: {{current_username}}</span>
            <a class="btn btn-sm btn-default" href="/admin/logout">Logout</a>
        </div>
        <hr>
        <form method="post">
            <label for="new-username">Username</label>
            <input id="new-username" type="text" placeholder="Username" name="new_username">
            <label for="new-password">Password</label>
            <input id="new-password" type="password" placeholder="Password" name="new_password">
            <button type="submit" name="action" value="adduser">Add User</button>
        <hr>
            <label for="sel-user">User</label>
            <select id="sel-user" name="selected_username">
                <option value="">Select a user</option>
                {% for user in users %}
                    <option value="{{user}}">{{user}}</option>
                {% endfor %}
            </select>
            <button type="submit" name="action" value="deleteuser">Delete User</button>
        <hr>
            <label for="sel-content">Content</label>
            <select id="sel-content" name="selected_content">
                <option value="">Select a file</option>
                {% for path in content_paths %}
                    <option value="{{path}}">{{path}}</option>
                {% endfor %}
            </select>
            <button type="submit" name="action" value="deletecontent">Delete Content</button>
        </form>
        <hr>
        <form method="post" action="/admin/upload_content" enctype="multipart/form-data">
            <label for="new-path">Filename</label>
            <input id="new-path" type="text" placeholder="Filename" name="new_path">
            <label for="new-data">Upload</label>
            <input id="new-data" type="file" name="new_data">
            <button type="button" id="upload_button">Upload Content</button>
            <div id="upload_log"></div>
        </form>
    </div>
</div>
<script src="/static/upload.js"></script>
{% endblock content %}
