{% extends "base.html" %}

{% block title %}Admin{% endblock title %}

{% block head %}
<meta name="robots" content="noindex, nofollow">
{% endblock head %}

{% block content %}
<div class="admin box">
    <header><h2>Site Admin</h2></header>
    <div class="content">
        <h3 class="text-center">Site Administration Login</h3>
        {% if msg_error.is_some() %}<p class="text-center error">{{ msg_error.as_ref().unwrap() }}</p>{% endif %}
        <form method="post">
                <label for="auth-username">Username</label>
                <input id="auth-username" type="text" name="username">
                <label for="auth-password">Password</label>
                <input id="auth-password" type="password" name="password">
                <button type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock content %}
