<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/sirus.css">
        <link rel="stylesheet" href="/static/site.css">
        {% block head %}{% endblock head %}
    </head>
    <body>
        <header>
            <a href="/"><h1 class="text-center">
                <img class="fit" src="/static/logo.png" width="520" height="120" alt="Site Logo">
            </h1></a>
        </header>
        <div class="content">{% block content %}{% endblock content %}</div>
	<div class="clear"></div>
        <footer class="box">
            <div class="content text-center">
                <div class="foot-copyright">{{copyright}}</div>
                <div class="foot-privacy"><a href="/privacy">Privacy</a></div>
                <div class="foot-admin"><a href="/admin" title="Site Admin">Admin</a></div>
            </div>
        </footer>
    </body>
</html>
