{% extends "blog_post.html" %}

{% block post_content %}
<form method="post">
    <label for="edit-title">Title</label>
    <input id="edit-title" value="{{post.title}}" name="title">
    <label for="edit-slug">Slug</label>
    <input id="edit-slug" value="{{post.slug}}" name="slug" placeholder="(Generated)">
    <label for="edit-category">Category</label>
    <input id="edit-category" value="{{post.category.as_ref().map(String::as_str).unwrap_or("")}}" name="category">
    <label>
        <input id="edit-hidden" type="checkbox" name="hidden" {% if post.hidden %}checked{% endif %} value="hidden">
        Hidden
    </label>
    <br>
    <label for="edit-content">Content</label>
    <textarea id="edit-content" class="monospace" rows="15" name="content" placeholder="Page Content">{{post.content|safe}}</textarea>
    <button type="submit">Save</button>
    <button type="reset">Reset</button>
    <button type="submit" name="action" value="delete">Delete</button>
</form>
{% endblock post_content %}
