{% extends "base.html" %}
{% import "blog_nav.html" as blog_nav %}

{% block title %}Blog{% endblock title %}

{% block content %}
<article class="box">
    <header><h2>Blog - {{year}}</h2></header>
    <div class="content">
        <h2>{{year}}</h2>
        {% if posts.len() > 0 %}
            <ul>
            {% for post in posts %}
                <li><a href="/blog/{{post.ctime}}/{{post.slug}}">{{post.title}}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No posts found for this year.</p>
        {% endif %}
    </div>
    <footer>
        <a href="/blog/atom.xml"><img src="/static/feed-icon.png" alt="RSS"><span>Atom Feed</span></a>
        {% if is_admin %}
            <span class="pull-right"><a href="/blog/0/new/edit">New</a></span>
        {% endif %}
    </footer>
</article>
{% include "blog_nav.html" %}
{% endblock content %}
