<nav class="box">
    <header><h2>Navigation</h2></header>
    <div class="content">
        <ul>
            {% if prev_year.is_some() %}
                <li><a href="/blog/{{prev_year.unwrap()}}">← {{prev_year.unwrap()}}</a></li>
            {% endif %}
            {% for post in posts %}
                <li{% if post.ctime == current %} class="current"{% endif %}>
                    <a href="/blog/{{post.ctime}}/{{post.slug}}">{{post.title}}</a>
                </li>
            {% endfor %}
            {% if next_year.is_some() %}
                <li><a href="/blog/{{next_year.unwrap()}}">→ {{next_year.unwrap()}}</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
