{% extends "base.html" %}
{% import "blog_nav.html" as blog_nav %}
{% block title %}{{post.title}}{% endblock title %}

{% block content %}
<article class="box">
    <header><h2><a href="/blog/{{post.ctime}}/{{post.slug}}">{{post.title}}</a></h2></header>
    <div class="content">{% block post_content %}{{ post.content|safe }}{% endblock post_content %}</div>
    <footer>
        {% if post.ctime > 0 %}
            <span>Created {{ctimef}}.</span>
        {% endif %}
        {% if post.mtime > 0 %}
            <span>Updated {{mtimef}}.</span>
        {% endif %}
        {% if is_admin && post.ctime > 0 %}
            <span class="pull-right">
                <a href="/blog/{{post.ctime}}/{{post.slug}}/edit">Edit</a>
            </span>
        {% endif %}
    </footer>
</article>
{% include "blog_nav.html" %}
{% endblock content %}
