{% extends "site.html" %}

{% block page_content %}
<form method="post">
    <label for="edit-pageId">ID</label>
    <input id="edit-pageId" value="{{page.name}}" name="name">
    <label for="edit-title">Title</label>
    <input id="edit-title" value="{{page.title}}" name="title">
    <label for="edit-parent">Parent</label>
    <input id="edit-parent" value="{{page.parent}}" name="parent">
    <label for="edit-order">Order</label>
    <input id="edit-order" value="{{page.order}}" name="order">
    <label for="edit-content">Content</label>
    <textarea id="edit-content" class="monospace" rows="15" name="content" placeholder="Page Content">{{page.content|safe}}</textarea>
    <button type="submit">Save</button> <button type="reset">Reset</button> <button type="submit" name="action" value="delete">Delete</button>
</form>
{% endblock page_content %}
