{% extends "base.html" %}

{% block title %}
{{ page.title }}
{% endblock title %}

{% block content %}
<article class="box">
    <header><h2><a href="/{{page.name}}">{{page.title}}</a></h2></header>
    <div class="content">{% block page_content %}{{ page.content|safe }}{% endblock page_content %}</div>
    <footer>
        {% if page.ctime > 0 %}
        Created {{ctimef}}.
        {% endif %}
        {% if page.mtime > 0 %}
        Updated {{mtimef}}.
        {% endif %}
        {% if is_admin %}
            <span class="pull-right"><a href="/{{page.name}}/edit">Edit</a></span>
        {% endif %}
    </footer>
</article>
<nav class="box">
    <header><h2>Navigation</h2></header>
    <ul class="content">
        {% for p in page_tree %}
        <li{% if p.name == page.name %} class="current"{% endif %}>
            <a href="/{{p.name}}">{{p.title}}</a>
            {% if p.pages.len() > 0 %}<ul>
                {% for p in p.pages %}
                <li{% if p.name == page.name %} class="current"{% endif %}>
                    <a href="/{{p.name}}">{{p.title}}</a>
                </li>
                {% endfor %}
            </ul>{% endif %}
        </li>
        {% endfor %}
    </ul>
    <footer>Check out my <a href="/blog">Blog</a></footer>
</nav>
{% endblock content %}
